:root {
  --blue: rgb(24, 119, 242);
  --green: rgb(66, 183, 42);
  --blueHover: #166fe5;
  --greenHover: #36a420;
}

* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #1c1e21;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.hr {
  border: none;
  border-bottom: 1px solid #dadde1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.App-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.App-section-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 396px;
  padding-right: 71px;
}

.App-section-div-imgContainer {
  padding: 40px 0 16px;
}

.App-section-div-imgContainer-img {
  height: 106px;
  width: 300px;
  margin: -28px;
}

.App-section-div-text {
  font-size: 28px;
  width: 500px;
}

.button {
  border: none;
  outline: none;
  border-radius: 6px;
  line-height: 48px;
  padding: 0 16px;
  color: white;
  font-weight: bold;
  transition: 0.2s background-color;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.formContainer-card {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px 0 28px;
  width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 27px;
}

.formContainer-card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.formContainer-card-form-email,
.formContainer-card-form-password {
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  color: #1d2129;
  height: 22px;
}

.formContainer-card-form-email::placeholder,
.formContainer-card-form-password::placeholder {
  color: #747a88;
}

.formContainer-card-form-email:focus,
.formContainer-card-form-password:focus {
  outline: none;
  border: 1.7px solid var(--blue);
  box-shadow: rgba(119, 197, 253, 0.5) 0px -1px 4px;
}

.formContainer-card-form-submit {
  background-color: var(--blue);
  font-size: 20px;
  width: 364px;
}
.formContainer-card-form-submit:hover {
  background-color: var(--blueHover);
}
.formContainer-card-form-submit:active {
  box-shadow: rgb(28, 117, 180) 0px 0px 5px;
}

.formContainer-card-form-forgotPassword {
  text-decoration: none;
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}
.formContainer-card-form-forgotPassword:hover {
  text-decoration: underline;
}

.formContainer-card-hr {
  width: 90%;
}

.formContainer-card-button {
  background-color: var(--green);
  font-size: 17px;
}
.formContainer-card-button:hover {
  background-color: var(--greenHover);
}
.formContainer-card-button:active {
  box-shadow: rgb(28, 117, 180) 0px 0px 5px;
  background-color: rgb(44, 146, 24);
}

.formContainer-bottomText {
  color: #1c1e21;
  font-size: 14px;
}

.formContainer-bottomText-a {
  text-decoration: none;
}
.formContainer-bottomText-a:hover {
  text-decoration: underline;
}
.formContainer-bottomText-a:visited {
  color: #1c1e21;
}

.App-footer {
  background-color: white;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8a8d91;
  font-size: 12px;
}
.App-footer-div {
  width: 980px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.App-footer-div-hr {
  width: 100%;
}

.App-footer-div-languages {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.App-footer-div-languages a {
  text-decoration: none;
}
.App-footer-div-languages a:visited {
  color: #8a8d91;
}
.App-footer-div-languages a:hover {
  text-decoration: underline;
}

.App-footer-div-links {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.App-footer-div-links a {
  text-decoration: none;
}
.App-footer-div-links a:visited {
  color: #8a8d91;
}
.App-footer-div-links a:hover {
  text-decoration: underline;
}
.App-footer-div-metaText {
  align-self: flex-start;
  padding-top: 14px;
}

.App-footer-div-languages-button {
  color: rgb(103, 110, 125);
  background-color: rgb(245, 246, 247);
  width: 30px;
  height: 20px;
  border-radius: 2px;
  line-height: 18px;
  border: 1px solid #ccd0d5;
  font-weight: bold;
  padding: 0 8px;
  text-align: center;
  font-size: 17px;
}
.App-footer-div-languages-button:hover {
  background-color: rgb(235, 237, 240);
}

.App-footer-div-languages-button:active {
  box-shadow: rgb(28, 117, 180) 0px 0px 5px;
  background-color: rgb(221, 223, 226);
}
